.players_alive {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 70px;
    background-color: var(--blue);
    position: fixed;
    right: 10px;//55px
    top: 10px;
    border-radius: 10px;
    opacity: 0.8;
    transition: opacity 1s;
    letter-spacing: 2px;
    .counter_container {
        display: flex;
        height: 45px;
        > div {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:28px;
            color: white;
        }
        .CT {
            color: var(--color-new-ct);
        }
        .T {
            color: var(--color-new-t);
        }
    }
    .title_container {
        top: 5px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        height:25px;
        font-size:14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &.hide {
        opacity: 0;
    }
}