#radar_maps_container {
	position: fixed;
	top: 10px;
	left: 10px;
	border: none;
	background-color: rgba(0,0,0,0.5);
}
#iframe_radar {
	border: none;
}
#radar_maps_container.hide {
	opacity: 0;
}
#maps_container {
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: var(--main);
	opacity: 0.8;
	border-bottom-right-radius: 10px;
	position:relative;
	top: 10px;
}
.veto_entry {
	display: flex;
	justify-content: center;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	&.active{
		background-color: var(--white-full);
		border-radius: 10px;
		
	}
	>div {
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		text-transform: uppercase;
		font-size: 10pt;
	}
	.team_logo {
		img {
			max-height: 23px;
			padding-right: 3px;
			max-width: 23px;
		}
		.logo {
			height: 23px;
			width: 23px;
		}
	}
	.map_name.active {
		color: black;
		font-weight: 600;
	}
}
