@keyframes open {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

@keyframes close{
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}

.trivia_container {
    max-width: 650px;
    max-height: 400px;
    position: absolute;
    top:150px;
    right:10px;
    background-color:var(--sub-panel-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: opacity 1.5s;
    &.show{
        opacity: 1;
    }
    &.hide{
        opacity: 0;
    }
}
.trivia_container .image_container {
    max-width: 650px;
    max-height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    margin: 10px;
    img{
        max-width: 90%;
        max-height: 95%;
        min-height: 300px;
        min-width: 400px;
    }
}