@keyframes fade {
    0%   { opacity: 0; }
    2% { opacity: 1; }
    14%   { opacity: 1; }
    16%  { opacity: 0; }
    100% { opacity: 0; }
}

.league_box{
    height: 70px;
    width: 480px;
    position: fixed;
    left: 50%;
    bottom: 15px;
    opacity: 1;
    transform: translateX(-50%);
    background: linear-gradient(90deg, rgba(2,16,42,0) 0%, var(--sub-panel-color) 15%, var(--sub-panel-color) 85%, rgba(2,16,42,0) 100%);
    filter: blur(px);
    .image_container{
        height:100%;
        width: 100%;
        display: flex;
        position: absolute;
        transition: all 1s;
        align-items: center;
        justify-content: space-around;
        background-size: contain;
        background-repeat: no-repeat;
        background-position:center;
        margin-bottom: 5px;
        margin-top:2px;
        img {
            max-width: 100%;
            max-height: 64px;
        }
    }
    .image{
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 1;
        &.show{
            opacity: 1;
        }
        &.hide{
            opacity: 0;
        }
        .one, .two, .three, .four, .five, .six, .seven{
            opacity: 0;
            height: 64px;
            width: 100%;
            position: absolute;
            animation-name: fade;
            animation-duration: 105s;
            animation-iteration-count: infinite;
            background-size: contain;
            background-repeat: no-repeat;
            background-position:center;
            top: 3px;
        }
        .one{
            background-image:url('./../../assets/0.png');
            animation-delay: 0s;
        }
        .two{
            animation-delay: 15s;
            background-image:url('./../../assets/1.png');
        }
        .three{
            animation-delay: 30s;
            background-image:url('./../../assets/2.png');
        }
        .four{
            animation-delay: 45s;
            background-image:url('./../../assets/3.png');
        }
        .five{
            animation-delay: 60s;
            background-image:url('./../../assets/4.png');
        }
        .six{
            animation-delay: 75s;
            background-image:url('./../../assets/5.png');
        }
        .seven{
            animation-delay: 90s;
            background-image:url('./../../assets/6.png');
        }
    }
}