.league_box{
    height: 60px;
    width: 480px;
    position: fixed;
    left: 50%;
    bottom: 15px;
    opacity: 0.75;
    transition: all 1s;
    transform: translateX(-50%);
    background: linear-gradient(90deg, rgba(2,16,42,0) 0%, rgba(57, 13, 151,1) 15%, rgba(99, 29, 207,1) 85%, rgba(2,16,42,0) 100%);
    filter: blur(px);
    &.show{
        opacity: 0.75;
    }
    &.hide{
        opacity: 0;
    }
    .image_container{
        height:100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-position:center;
        margin-bottom: 5px;
        margin-top:2px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}