.observed {
    width: 580px;
    height: 80px;
    position: fixed;
    bottom: 95px;
    left: 50%;
    transform: translateX(-50%);
    .obs_lane1 {
        width: 580px;
        height: 40px;
        position: relative;
        opacity: 1;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: var(--sub-panel-color);
        .line1_left {
            width: 215px;
            height: 40px;
            float: left;
            left: 5px;
            position: relative;
            .obs_alias {
                width: 100%;
                height: 100%;
                position: relative;
                opacity: 1;
                .obs_alias_text {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    font-family: "Arial", sans-serif;
                    text-align: right;
                    vertical-align: middle;
                    line-height: 40px;
                    font-size: 20px;
                    font-weight: bold;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    color: var(--white-full);
                }
            }
        }
        .line1_right {
            width: 215px;
            height: 40px;
            float: right;
            right: 5px;
            position: relative;
            .obs_health_section,
            .obs_armor_section {
                width: 75px;
                height: 40px;
                position: relative;
                float: left;
                .obs_health_img,
                .obs_armor_img {
                    width: 20px;
                    height: 20px;
                    position: relative;
                    float: left;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    margin-right: 5px;
                    svg {
                        max-height:20px;
                        max-width:20px;
                    }
                }
                .obs_health_text,
                .obs_armor_text {
                    width: 50px;
                    height: 40px;
                    position: relative;
                    font-family: "Arial", sans-serif;
                    text-align: left;
                    vertical-align: middle;
                    line-height: 40px;
                    font-size: 20px;
                    font-weight: normal;
                    color: var(--white-full);
                    float: left;
                }
            }
        }
    }
    .obs_lane2 {
        width: 580px;
        height: 40px;
        position: relative;
        z-index: 1;
        .avatar {
            width: 120px;
            height: 120px;
            position: absolute;
            z-index: 2;
            left: 230px;
            bottom: 0;
            img {
                width: 100%;
                height: 100%;
                opacity: 1;
            }
        }
        .flag {
            height: 60px;
            width: 60px;
            margin: 5px;
            bottom: 5px;
            right: 0;
            position: absolute;
            z-index: 1;
            img {
                height: 100%;
            }
        }
        .lane2_left {
            width: 225px;
            height: 40px;
            position: relative;
            float: left;
            left: 5px;
            .grenade_container{
                max-width: 100%;
                height: 20px;
                position: relative;
                float: right;
                top: 10px;
                .weapon.grenade{
                    height: 20px;
                    margin-left: 0px;
                }
            }
        }
        .lane2_right {
            width: 215px;
            height: 40px;
            position: relative;
            float: right;
            right: 5px;
            .obs_bullets_section{
                width: 25px;
                height: 25px;
                position: relative;
                top: 8px;
                float: left;
                margin-right: 5px;
                svg {
                    max-width: 100%;
                    height: 100%;
                    fill: white;
                }
            }
            .obs_ammo_section{
                width: 180px;
                height: 40px;
                position: relative;
                float: left;
                letter-spacing: 2px;
                .obs_clip{
                    max-width: 44px;
                    height: 40px;
                    position: relative;
                    font-family: "Arial", sans-serif;
                    text-align: right;
                    vertical-align: middle;
                    line-height: 40px;
                    font-size: 20px;
                    font-weight: normal;
                    color: var(--white-full);
                    left: 5px;
                    float: left;
                }
                .obs_mid{
                    width: 5px;
                    height: 40px;
                    position: relative;
                    font-family: "Arial", sans-serif;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 40px;
                    font-size: 20px;
                    font-weight: normal;
                    color: var(--white-full);
                    float: left;
                    left: 4px;
                    margin-left: 4px;
                    margin-right: 4px;
                }
                .obs_reserve{
                    max-width: 60px;
                    height: 40px;
                    position: relative;
                    left: 5px;
                    color: var(--white-full);
                    font-family: "Arial", sans-serif;
                    text-align: left;
                    vertical-align: middle;
                    line-height: 40px;
                    font-size: 20px;
                    font-weight: normal;
                    float: left;
                }
            }
            
        }

    }
    &.T {
        .obs_lane2{
            background-color: var(--color-new-t);
        }
    }
    &.CT {
        .obs_lane2{
            background-color: var(--color-new-ct);
        }
    }
}

#cameraFeed {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    transform: scale(0.94);
    left: 0px;
    bottom: 0;
    transform-origin: bottom left;
    iframe {
        position: relative;
        border: none;
        width: 750px;
        height: 300px;
    }
}